*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.wrapper{
width: 100wh;
height: 100vh;
color: #fff;
background: linear-gradient(-45deg, #d67c30,#d7ab54,#EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.logoimg{
height:80px;
width:80px;
-webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
box-shadow:         -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
border-radius:100px;
}
.font{
font-family:'Bodoni Bk BT';
font-size:38px;
font-weight:normal;
margin:0;
padding:0;
text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}
.font-p{
font-family:'Bodoni Bk BT';
font-size:25px;
font-weight:normal;
line-height:30px;
margin:0;
padding:0;
text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}
.formmargin{
margin-top:80px;
}
.loginbtn{
background: linear-gradient(to left, #ffffff 20%, #fcfaf7 84%);
color:#da9838;
font-weight:bold;
}
.loginbtn:hover{
background: linear-gradient(to left, #d79c58 20%, #f3b463 84%);
color:#fff;
font-weight:bold;
-webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
box-shadow:         -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
}
.signupbtn{
background: linear-gradient(to left, #d79c58 20%, #f3b463 84%);
color:#fff;
font-weight:bold;
}
.signupbtn:hover{
background: linear-gradient(to left, #ffffff 20%, #fcfaf7 84%);
color:#da9838;
font-weight:bold;
-webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
box-shadow:         -3px 7px 15px 0px rgba(50, 50, 50, 0.32);

}
.loginsocialbtn{
background-color:#59b7f4;
color:#fff;
font-weight:bold;
}
.loginsocialbtn:hover{
-webkit-box-shadow: -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
-moz-box-shadow:    -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
box-shadow:         -3px 7px 15px 0px rgba(50, 50, 50, 0.32);
}
.seperatetxt{
text-align:center;
color:#fff;
font-size:20px;
margin:0;
}
.input {
position: relative;
z-index: 1;
display: inline-block;
margin: 0em;
max-width: 100%;
width: 100%;
vertical-align: top;
}

.input__field {
position: relative;
display: block;
float: right;
padding: 0.8em;
width: 60%;
border: none;
border-radius: 0;
background: #f0f0f0;
color: #fff;
font-weight: 400;
font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
outline: none;
}

.input__label {
display: inline-block;
float: right;
padding: 0 1em;
width: 40%;
color: #fbebcf;
font-weight: bold;
font-size: 70.25%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.input__label-content {
position: relative;
display: block;
padding: 1.6em 0;
width: 100%;
}

.graphic {
position: absolute;
top: 0;
left: 0;
fill: none;
}

.icon {
color: #ddd;
font-size: 150%;
}
/* Nao */
.input--nao {
overflow: hidden;
padding-top: 1em;
}

.input__field--nao {
padding: 0.5em 0em 0.25em;
width: 100%;
background: transparent;
color: #eabd95;
font-size: 1.25em;
}

.input__label--nao {
position: absolute;
top: 0.95em;
font-size: 0.85em;
left: 0;
display: block;
width: 100%;
text-align: left;
padding: 0em;
pointer-events: none;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
transition: transform 0.2s 0.15s, color 1s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

.graphic--nao {
stroke: #efc07e;
pointer-events: none;
-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
transition: transform 0.7s, stroke 0.7s;
-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
color: #fbebcf;
-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
stroke: #efc07e;
-webkit-transform: translate3d(-66.6%, 0, 0);
transform: translate3d(-66.6%, 0, 0);
}

/* The checkbox container */
.checkboxcontainer {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 0px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
color:#efc07e;
vertical-align:middle;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;

}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
background-color: #efc07e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.mat-card {
background: transparent;
color: rgba(0,0,0,.87);
transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
display: block;
position: relative;
padding: 15px;
border-radius: 2px;
}