<div id="sidenavpage">
  <mat-drawer-container style="height: 100%; width: 100%;" hasBackdrop="false">
    <mat-drawer mode="side" opened="true" *ngIf="loginstatus">
      <div [class]="showNavText == false ? 'sidenavcontainer' : (showNavText == true ? 'sidenavcontainer1' : 'sidenavcontainer')">
      
      <!-- Menu Button -->
      <div class="navitemcontainer">
        <div class="selectedpointer" style="background-color: transparent"> 
        </div>
        <button (click)="onMenuBtnClick()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <h4 *ngIf="showNavText" class="navtext">Navigation</h4>
      </div>
      
      <!-- Dashboard -->
      <div class="navitemcontainer" style="margin-bottom: 10px;" >
        <div class="selectedpointer" *ngIf="route == 'dashboard'" style="background-color: #ff9328">
        </div>
        <a mat-icon-button [routerLink]="['/dashborad']">
          <mat-icon matTooltip="Dashboard" matTooltipPosition="after" class="navicon">dashboard</mat-icon>
        </a>
        <h4 *ngIf="showNavText" class="navtext">Dashboard</h4>  
      </div>

      <!-- Wallet -->
      <div class="menuitem">

        <div class="selectedpointer" *ngIf="route == 'dashboard'" style="background-color: #ff9328">
        </div>
        <a mat-icon-button [routerLink]="['/wallet']">
          <mat-icon matTooltip="Wallet" matTooltipPosition="after" class="navicon">account_balance_wallet</mat-icon>
        </a>
        <h4 *ngIf="showNavText" class="navtext">Wallet</h4> 
      </div>

       <!-- Reward -->
       <div class="menuitem">
          <div class="selectedpointer" *ngIf="route == 'reward'" style="background-color: #ff9328">
          </div>
          <a mat-icon-button [routerLink]="['/reward']">
            <mat-icon matTooltip="Reward" matTooltipPosition="after" class="navicon">account_balance</mat-icon>
          </a>
          <h4 *ngIf="showNavText" class="navtext">Reward</h4> 
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div>
          <mat-toolbar color="primary">
             <div class="container">
               <div class="row">
                 <div class="col-sm-4">
                    <span><img src="assets/logo.png" class="angular-logo" style="height: 65px;width:80px"></span>
                 </div>
                 <div class="col-sm-4">

                 </div>
                 <div class="col-sm-4">
                    <div style="display: flex;flex-direction: row;justify-content: flex-end;" *ngIf="loginstatus">
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top: 8px;">
                        <mat-icon>settings</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <mat-icon>account_circle</mat-icon>
                          <span>{{userName}}</span>
                        </button>
                        <button mat-menu-item>
                          
                          <mat-icon matBadge={{notiCount}} matBadgeColor="warn">notifications</mat-icon>
                          <a (click)="otherPageId = 2; selectedPage = 5;" style="text-decoration: none;" [routerLink]="['/homepage/notificationpage']">Notifications</a>
                        </button>
                        <button mat-menu-item >
                            <mat-icon><img src="assets/logout.png" class='logout'/></mat-icon>
                            <a (click) = "logoutUser()" style="text-decoration: none;">Logout</a>
                        </button> 
                      </mat-menu>
                     
                  </div>
                <div style="display: flex;flex-direction: row;justify-content: flex-end;" *ngIf="!loginstatus">
                    <a mat-raised-button color="link" [routerLink]="['/registration']" *ngIf="route=='login'">Don't have account ?</a>
                    <a mat-raised-button color="link" [routerLink]="['/login']" *ngIf="(route =='registration'|| route =='forget')">Already have account? Login</a>
                </div>
                 </div>
               </div>
             </div>
              
          </mat-toolbar>
      </div>
      <div class="maincontainer">
        <router-outlet></router-outlet>
      </div>
      
    </mat-drawer-content>
  </mat-drawer-container>
</div>


