<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">My Profile</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="view-account">
                        <section class="module">
                            <div class="module-inner">
                                <div class="side-bar">
                                    <div class="user-info">
                                        <img class="img-profile img-circle img-responsive center-block" [src]="profileImage" alt="">
                                        <ul class="meta list list-unstyled">
                                            <li class="name">Rebecca Sanders
                                                <label class="label label-info">UX Designer</label>
                                            </li>
                                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                                            <li class="activity">Last logged in: Today at 2:18pm</li>
                                        </ul>
                                    </div>
                                    <nav class="side-menu">
                                        <ul class="nav">
                                            <li class="active" id="Personalli"><a data-target="#Personal" data-toggle="tab" (click)="GetActiveTab('Personal')"><span class="fa fa-user"></span>Personal</a></li>
                                            <li id="Professionalli"><a data-target="#Professional" data-toggle="tab" (click)="GetActiveTab('Professional')"><span class="fa fa-id-card"></span>Professional</a></li>
                                            <li id="KYCli"><a data-target="#KYC" data-toggle="tab" (click)="GetActiveTab('KYC')"><span class="fa fa-newspaper-o"></span>KYC Details</a></li>
                                            <li id="Settingsli"><a data-target="#Settings" data-toggle="tab" (click)="GetActiveTab('Settings')"><span class="fa fa-cog"></span>Settings</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="content-panel">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Personal">
                                            <app-personal-information></app-personal-information>
                                        </div>
                                        <div class="tab-pane" id="Professional">
                                            <app-professional-information></app-professional-information>
                                        </div>
                                        <div class="tab-pane" id="KYC">
                                            <app-kyc-information></app-kyc-information>
                                        </div>
                                        <div class="tab-pane" id="Settings">
                                            <app-setting></app-setting>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </section>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="line-spin-fade-rotating"></ngx-spinner>
</div>
