<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Process Transaction</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <app-balance></app-balance>
                </div>
                <div class="card-body border-top">
                    <app-transcationemanagement></app-transcationemanagement>
                </div>
                <div class="card-body border-top">
                    <app-transcationdetails></app-transcationdetails>
                </div>
            </div>
        </div>
    </div>
</div>