<div class="signin-content">
  <mat-card>
    <mat-horizontal-stepper linear="true" #stepper (selectionChange) = "stepperSelectionChange($event)">
      <mat-step [stepControl]="emailForm" [editable]="isEmailEditable">
        <form [formGroup]="emailForm">
          <ng-template matStepLabel>Fill Your Login Details</ng-template>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Login Id/Mobile No" formControlName="LoginId" required >
            <mat-error *ngIf = "emailForm.get('LoginId').hasError('required')">
              Login Id/Mobile No must be entered
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="UserError_flag">
              {{UserError_Message}}
          </mat-error>
          <button mat-raised-button color="primary" type="submit" (click)='ForgotPasswordmaster();'>Next</button>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <br>
           </div>
         </div>
         
        </form>
      </mat-step>
      
      <mat-step [stepControl]="otpForm" editable="true">
        <form [formGroup]="otpForm">
          <ng-template matStepLabel>Enter OTP</ng-template>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="OTP" formControlName="userOTP" required (change)="onOTPChange($event)">
              <mat-error *ngIf = "otpForm.get('userOTP').hasError('required')">
                OTP must be entered
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="New Password" type="password" formControlName="userPass" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf = "otpForm.get('userPass').hasError('pattern')">
                {{errors.password}}
              </mat-error>
              <mat-error *ngIf = "otpForm.get('userPass').hasError('required')">
                Password must be entered
              </mat-error>
             
              
            </mat-form-field>
            <mat-error *ngIf = "errors.flag=='true'">
              {{errors.message}}
            </mat-error>
           <br><br>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="ChnagePassword()" style="margin-left: 2%;">Next</button>
            <mat-error *ngIf="UserError_flag">
              {{UserError_Message}}
              </mat-error>
        </form>
      </mat-step>
      
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="container">
          <div class="row">
            <div class="col"> 
              {{passChangeMsg}}. Please login with new credentials
            </div>    
          </div>

          <div class="row">
            <div class="col"> 
              <div>
                <button mat-raised-button color="primary" matStepperPrevious [routerLink]="['/login']" style="margin-top: 2%;">Login</button>
              </div>
            </div>    
          </div>
        </div>
        
      </mat-step>
      
    </mat-horizontal-stepper>
  </mat-card>
</div>