<div id="dashboardpagecontainer">
  <div id="dashheader">

    <mat-card class="headercard" style="background-color: #2196F3;">

      <mat-card-header>
        <mat-card-title style="font-size: 20px">&#x20B9; {{accountbalance}}</mat-card-title>
        <mat-card-subtitle style="font-size: 12px; color: #FFFFFF;">Account Balance</mat-card-subtitle>
        <mat-icon>layers</mat-icon>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button><mat-icon>filter_list</mat-icon></button>
        <button mat-button><mat-icon>input</mat-icon></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="headercard" style="background-color: #4CAF50;margin-left: 10%; margin-right: 10%;">
      
      <mat-card-header>
        <mat-card-title style="font-size: 20px">&#x20B9; {{rewardbalance}}</mat-card-title>
        <mat-card-subtitle style="font-size: 12px; color: #FFFFFF;">Reward Balance</mat-card-subtitle>
        <mat-icon>account_balance</mat-icon>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button><mat-icon>filter_list</mat-icon></button>
        <button mat-button><mat-icon>input</mat-icon></button>
      </mat-card-actions>
    
    </mat-card>

   
  </div>
  <div id="dashcontent">
  </div>

  
  
</div>