/* Dashboard Parent Container */
#dashboardpagecontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

/* Dashboard Header */
#dashheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20%;
}

/* Header Cards */
.headercard{
    height: 100%;
    width: 18%;
    color: #FFFFFF;
    border-radius: 5px;
    /* margin-left: 2%;
    margin-right: 2%; */
    
}

/* Header Card Header Properties */
.headercard mat-card-header{
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Header Card Icon and Card */
.headercard  mat-card-header mat-icon{
    position: absolute;
    right: 1%;
    font-size: 250%; 
    margin-top: 0%; 
    padding: 0%;
}

#dashcontent{
    /* height: 68.5%; */
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Dashboard Footer */
#dashfooter{
    /* margin-bottom: 0.5%; */
    padding-left: 5%;
    padding-right: 5%;
    height: 11.5%;
    margin-bottom: 1%;
}

/* Footer Card */
.footercard {
    justify-content: center;
    background-color: #E0E0E0;
    padding: 0%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    height: 100%;
}

/* Footer Card cardheader */
.footercard mat-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25%;
}

/* Footer Card cardcontent */
.footercard mat-card-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 76%;
}

/* Footer card sub card  */
.subfootercard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    height: 0%;
    color: #000000;
    margin-left: 2%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    align-content: center;
    position: relative;
    padding-bottom: 0%;

}
