<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-sm-12 col-xl-4 offset-xl-4 formmargin">
                <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <img src="../../assets/logo-2.PNG" class="logoimg" />
                </div>
                <div class="col-md-12 mb-4">
                <p class="text-white text-center font">Flipprr</p>
                <p class="text-white text-center font-p">Money trasfer made simple !</p>
                    </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <a  [routerLink]="['/login']"><button class="btn btn-primary border-0 btn-block loginbtn" ><i class=""></i> Login</button></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <a [routerLink]="['/registration']"><button class="btn btn-primary border-0 btn-block signupbtn" ><i class=""></i> Sign up</button></a>
                        </div>
                    <hr />
                    </div>
                <!-- <div class="col-md-12">
                <p class="seperatetxt">or</p>
                </div>
                <div class="col-md-12">
                    <hr />
                    <div class="form-group">
                            <button class="btn btn-primary btn-block loginsocialbtn border-0"><i class=""></i> Login with twitter</button>
                        </div>
                   <hr />
                    </div> -->
                    <div class="col-md-12">
                        <p class="seperatetxt">flipprr.com</p>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>