<div class="row m-b-0">
  <div class="col-lg-12 col-md-6">
      <div class="row">
          <mat-tab-group  backgroundColor="primary" style="width: 100%" (selectedTabChange)="onLinkClick($event)">
              <mat-tab label="Add Money">
                  <mat-card id="addmoneycard" class=".mat-elevation-z0">
                      <mat-card-content>
                          <form [formGroup]="AddMoneyForm" id="AddMoneyForm" style="display: contents">
                              <div class="row m-b-0">
                                  <div class="col-lg-3 col-md-6">
                                      <mat-form-field> 
                                          <input matInput placeholder="Enter amount to add in wallet" formControlName="Amount" required name='Amount'>
                                          <mat-error *ngIf = "AddMoneyForm.get('Amount').hasError('required')">
                                              Amount must be entered
                                          </mat-error>
                                          <mat-error *ngIf = "AddMoneyForm.get('Amount').hasError('pattern')">
                                              {{errors.Amount}}
                                          </mat-error>
                                          
                                      </mat-form-field>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                      <mat-form-field>
                                          <input  matInput placeholder="Have a promo code ?"  name='PromoCode' formControlName="PromoCode" (input)="ValidatePromoCode($event)">
                                          <mat-error *ngIf = "AddMoneyForm.get('PromoCode').hasError('pattern')">
                                              {{errors.PromoCode}}
                                          </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                      <mat-card-actions>
                                          <button mat-raised-button form="AddMoneyForm" *ngIf="AddMoneyForm.valid" style="background-color: #1f38d9; color: #FFFFFF;" (click)="AddMoneyReward();">ADD Money</button>
                                          <button mat-raised-button disabled *ngIf="!AddMoneyForm.valid">ADD Money</button>
                                      </mat-card-actions>
                                  </div>
                              </div>
                            
                          </form>
                      </mat-card-content>
                  </mat-card>
              </mat-tab>
              <mat-tab label="Send Money">
                  <mat-card id="sendmoney" class=".mat-elevation-z0">
                      <mat-card-content>
                          <form [formGroup]="SendMoneyForm" id="SendMoneyForm" style="display: contents">
                              <div class="row m-b-0">
                                  <div class="col-lg-3 col-md-6">
                                      <mat-form-field> 
                                          <input matInput placeholder="Enter amount to send" formControlName="Amount" required name='Amount'>
                                          <mat-error *ngIf = "SendMoneyForm.get('Amount').hasError('required')">
                                              Amount must be entered
                                          </mat-error>
                                          <mat-error *ngIf = "SendMoneyForm.get('Amount').hasError('pattern')">
                                              {{errors.Amount}}
                                          </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                      <mat-form-field>
                                        <input matInput placeholder="Contact No ?" aria-label="MobileNo" [matAutocomplete]="auto" [formControl]="profileCtrl" formControlName="MobileNo" (input)="ValidateMobileno($event)">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let profile of filteredProfile | async" [value]="profile.MobileNo">
                                            <mat-icon>account_box</mat-icon>
                                            <span>{{profile.MobileNo}}</span> |
                                            <small>{{profile.UserName}}</small>
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error *ngIf = "SendMoneyForm.get('MobileNo').hasError('required')">
                                            Mobile No must be entered
                                        </mat-error>
                                        <mat-error *ngIf = "SendMoneyForm.get('MobileNo').hasError('pattern')">
                                            {{errors.MobileNo}}
                                        </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                      <mat-card-actions>
                                          <button mat-raised-button form="SendMoneyForm" *ngIf="SendMoneyForm.valid" style="background-color: #1f38d9; color: #FFFFFF;" (click)="SendMoneyReward();">Send</button>
                                          <button mat-raised-button disabled *ngIf="!SendMoneyForm.valid">Send</button>
                                      </mat-card-actions>
                                  </div>
                              </div>
                          </form>
                      </mat-card-content>
                  </mat-card>
              </mat-tab>
              <mat-tab label="Request Money">
                  <mat-card id="requestmoney" class=".mat-elevation-z0">
                      <mat-card-content>
                          <form [formGroup]="RequestMoneyForm" id="RequestMoneyForm" style="display: contents">
                              <div class="row m-b-0">
                                  <div class="col-lg-3 col-md-6">
                                      <mat-form-field> 
                                          <input matInput placeholder="Enter amount for request" formControlName="Amount" required name='Amount'>
                                          <mat-error *ngIf = "RequestMoneyForm.get('Amount').hasError('required')">
                                              Amount must be entered
                                          </mat-error>
                                          <mat-error *ngIf = "RequestMoneyForm.get('Amount').hasError('pattern')">
                                              {{errors.Amount}}
                                          </mat-error>
                                      </mat-form-field>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                    <input matInput placeholder="Contact No ?" aria-label="MobileNo" [matAutocomplete]="auto" [formControl]="profileCtrl" formControlName="MobileNo" (input)="ValidateMobileno($event)">
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let profile of filteredProfile | async" [value]="profile.MobileNo">
                                            <mat-icon>account_box</mat-icon>
                                            <span>{{profile.MobileNo}}</span> |
                                            <small>{{profile.UserName}}</small>
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf = "RequestMoneyForm.get('MobileNo').hasError('required')">
                                        Mobile No must be entered
                                    </mat-error>
                                    <mat-error *ngIf = "RequestMoneyForm.get('MobileNo').hasError('pattern')">
                                        {{errors.MobileNo}}
                                    </mat-error>
                                  </div>
                                  <div class="col-lg-1"></div>
                                  <div class="col-lg-3 col-md-6">
                                      <mat-card-actions>
                                          <button mat-raised-button form="RequestMoneyForm" *ngIf="RequestMoneyForm.valid" style="background-color: #1f38d9; color: #FFFFFF;" (click)="RequestMoneyReward();">Request</button>
                                          <button mat-raised-button disabled *ngIf="!RequestMoneyForm.valid">Request</button>
                                      </mat-card-actions>
                                  </div>
                              </div>
                          </form>
                      </mat-card-content>
                  </mat-card>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="line-spin-fade-rotating"></ngx-spinner>
</div>
