<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-4 col-sm-12 col-xl-5 offset-xl-3 formmargin">
                <div class="row">
                    <div class="col-md-12 text-center mb-4">
                        <a [routerLink]="['']"><img src="../../assets/logo-2.PNG" class="logoimg" /></a>
                    </div>
                    <div class="col-md-12">
                        <mat-card>
                            <mat-horizontal-stepper linear="true" #stepper (selectionChange) = "stepperSelectionChange($event)" >
                                <mat-step [stepControl]="SignUpForm" [editable]="isLogEditable">
                                    <ng-template matStepLabel>Your Registration Details</ng-template>
                                    <form [formGroup]="SignUpForm" (ngSubmit)="SignUp()">
                                        <div class="col-md-12">
                                            <mat-form-field class="input input--nao">
                                                <input matInput formControlName="LoginId" placeholder="Login Id" required class="input__field input__field--nao" type="mytype" id="LoginId">
                                                <mat-error *ngIf = "SignUpForm.get('LoginId').hasError('required')">
                                                    Login Id must be entered.
                                                </mat-error>
                                                <mat-error *ngIf = "SignUpForm.get('LoginId').hasError('pattern')">
                                                {{errors.LoginId}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="input input--nao">
                                                <input matInput formControlName="MobileNo" placeholder="Mobile Number" required class="input__field input__field--nao" type="mytype" id="MobileNo">
                                                <mat-error *ngIf = "SignUpForm.get('MobileNo').hasError('required')">
                                                    Mobile Number must be entered.
                                                </mat-error>
                                                <mat-error *ngIf = "SignUpForm.get('MobileNo').hasError('pattern')">
                                                    {{errors.MobileNo}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <mat-form-field class="input input--nao">
                                                <input class="input__field input__field--nao" id="password" placeholder="Password" matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="Password" required>
                                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                                <mat-error *ngIf = "SignUpForm.get('Password').hasError('required')">
                                                    Password must be entered
                                                </mat-error>
                                                <mat-error *ngIf = "SignUpForm.get('Password').hasError('pattern')">
                                                    {{errors.Password}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="input input--nao">
                                                <a>
                                                    <button mat-raised-button class="btn btn-primary btn-block loginbtn border-0">
                                                        <i class=""></i> Next
                                                    </button>
                                                </a>
                                            </span>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]="otpForm" [editable]="true">
                                    <ng-template matStepLabel>Enter OTP</ng-template>
                                    <form [formGroup]="otpForm" (ngSubmit)="ValidateOTP()">
                                        <div class="col-md-12">
                                            <mat-form-field class="input input--nao">
                                                <input class="input__field input__field--nao" id="OTP" placeholder="OTP" matInput formControlName="OTP" required>
                                                <mat-icon matSuffix (click)="ResendOTP()">refresh</mat-icon>
                                                <mat-error *ngIf = "otpForm.get('OTP').hasError('required')">
                                                    OTP must be entered
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="input input--nao">
                                                <a>
                                                    <button mat-raised-button class="btn btn-primary btn-block loginbtn border-0">
                                                        <i class=""></i> Finish
                                                    </button>
                                                </a>
                                            </span>
                                        </div>
                                    </form>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </mat-card>
                    </div>
                    <div class="col-md-12">
                        <p class="seperatetxt">flipprr.com <a [routerLink]="['/login']" class="text-white" >Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="line-spin-fade-rotating"></ngx-spinner>
</div>