/* Dashboard Parent Container */
#dashboardpagecontainer{
    /* display: flex;
    flex-direction: column;*/
    height: 100%;
    width: 100%;
    /*justify-content: space-between; */
}

/* Dashboard Header */
#dashheader{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    height: 23%;
}

/* Header Cards */
.headercard{
    height: 100%;
    width: 80%;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

/* Header Card Header Properties */
.headercard mat-card-header{
    display: flex;
    flex-direction: row;
    position: relative;
}

/* Header Card Icon and Card */
.headercard  mat-card-header mat-icon{
    position: absolute;
    right: 1%;
    font-size: 250%; 
    margin-top: 0%; 
    padding: 0%;
}

#dashcontent{
    height: 65.5%;
    overflow-y: auto;
    overflow-x: hidden;
}