<div id="dashboardpagecontainer" class="container-fliud m-0 p-0">
  <ngx-spinner size="medium" type="ball-clip-rotate"></ngx-spinner>
  <div id="dashheader" class="row justify-content-center align-content-start m-0 p-0">
   <div class="container">
     <div class="top-buffer"></div>
     <div class="row">
        <div class="col-sm-2">

          </div>
       <div class="col-sm-4">
        <mat-card class="headercard" style="background-color: #2196F3; ">
          <mat-card-header>
            <mat-card-title style="font-size: 20px">Account Balance</mat-card-title>
            <mat-card-subtitle style="font-size: 12px; color: #FFFFFF;">{{accountbalance}}</mat-card-subtitle>
            <mat-icon>account_balance</mat-icon>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button><mat-icon>input</mat-icon></button>
          </mat-card-actions>
        </mat-card>
       </div>
       <div class="col-sm-2" style="height: 10px;">

       </div>
       <div class="col-sm-4">
        <mat-card class="headercard" style="background-color: #4CAF50;">
          <mat-card-header>
            <mat-card-title style="font-size: 20px">Reward Balance</mat-card-title>
            <mat-card-subtitle style="font-size: 12px; color: #FFFFFF;">{{rewardbalance}}</mat-card-subtitle>
            <mat-icon>account_balance</mat-icon>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button><mat-icon>filter_list</mat-icon></button>
          </mat-card-actions>
        
        </mat-card>
       </div>
     </div>
   </div>
  </div>
  <div id="dashcontent" class="row justify-content-center align-content-center mt-2 ">
      <mat-card id="RecordDetails" class=".mat-elevation-z0">
          <mat-card-header>
            <mat-card-title style="font-size: 20px">Transaction Details</mat-card-title>  
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group (selectedTabChange)="selectChange($event)">
                <mat-tab label="All Transaction" selected="true">
                    <div style="display: flex; flex-direction: column; max-height: 400px; min-height: 400px;">
                        <table mat-table [dataSource]="dataSource" matSort>
  
                            <!-- ID Column -->
                            <ng-container matColumnDef="SR">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.SR}} </td>
                            </ng-container>
                          
                            <!-- Project Name Column -->
                            <ng-container matColumnDef="ProjectName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.ProjectName}} </td>
                            </ng-container>
                          
                            <!-- Applicant Name Column -->
                            <ng-container matColumnDef="task_name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicant Name </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.task_name}} </td>
                            </ng-container>
                          
                            <!-- Flat No. Column -->
                            <ng-container matColumnDef="flat_no">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Flat No. </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.flat_no}} </td>
                            </ng-container>
                    
                            <!-- Bank Name -->
                            <ng-container matColumnDef="Bank_Name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.Bank_Name}} </td>
                            </ng-container>
                      
                            <!-- Associate Name Column -->
                            <ng-container matColumnDef="associate_name">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.associate_name}} </td>
                            </ng-container>
                    
                            <!-- Status Column -->
                            <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                              <td mat-cell *matCellDef="let row" (click) = "openApplicantInfo(row.Id)"> {{row.status}} </td>
                            </ng-container>
                      
                            <!-- Action Column -->
                            
                        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                          </table>
                      
                    </div>
                </mat-tab> 
                <mat-tab label="Earning">
                  <div style="display: flex; flex-direction: column; max-height: 400px; min-height: 400px;">
                    
                    
                  </div>
                </mat-tab>
                <mat-tab label="Expenses">
                  <div style="display: flex; flex-direction: column; max-height: 400px; min-height: 400px;">
                  </div>
                </mat-tab>
            </mat-tab-group>
          </mat-card-content>
      </mat-card>
  </div>
</div>