<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex no-block justify-content-end align-items-center">
                <div class="m-r-10">
                    <div class="lastmonth"></div>
                </div>
                <div class="m-r-10"><span class="text-cyan display-5"><mat-icon>stars</mat-icon></span></div>
                <div class="">
                    <small>LAST MONTH

                    </small>
                    <h4 class="text-info m-b-0 font-medium">{{lastmonth | currency :'&#8377;'}}</h4></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">Transaction Summary</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h1 class="m-b-0 m-t-30">{{lastmonthCredit | currency :'&#8377;'}}</h1>
                            <h6 class="font-light text-muted">Last Month Credit</h6>
                            <h3 class="m-t-30 m-b-0">{{lastmonthDebit | currency :'&#8377;'}}</h3>
                            <h6 class="font-light text-muted">Last Month Debit</h6>
                            <a class="btn btn-info m-t-20 p-15 p-l-25 p-r-25 m-b-20" href="javascript:void(0)">Last Month Summary</a>
                        </div>
                        <div class="col-lg-8">
                            
                        </div>
                    </div>
                </div>
                <div class="card-body border-top">
                    <div class="row m-b-0">
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="m-r-10"><span class="text-orange display-5"><mat-icon>account_balance_wallet</mat-icon></span></div>
                                <div><span>Wallet Balance</span>
                                    <h3 class="font-medium m-b-0">{{accountbalance | currency :'&#8377;'}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="m-r-10"><span class="text-cyan display-5"><mat-icon>stars</mat-icon></span></div>
                                <div><span>Referral Earnings</span>
                                    <h3 class="font-medium m-b-0">{{rewardbalance | currency :'&#8377;'}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="m-r-10"><span class="text-info display-5"><mat-icon>transfer_within_a_station</mat-icon></span></div>
                                <div><span>Transfer Money</span>
                                    <h3 class="font-medium m-b-0">{{transferMoney | currency :'&#8377;'}}</h3></div>
                            </div>
                        </div>
                        <!-- col -->
                        <!-- col -->
                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="m-r-10"><span class="text-primary display-5"><mat-icon>money</mat-icon></span></div>
                                <div><span>Earnings</span>
                                    <h3 class="font-medium m-b-0">{{reciverMoney | currency :'&#8377;'}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>