/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  

.mat-toolbar.mat-primary{
    background: #FFC928
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #FFC928;
}

.mat-step-header .mat-step-icon {
  background-color: #FFC928;
  color: #fff;
}
.mat-input-element {
  caret-color: #FFC928;
}
.top-buffer { margin-top:20px; }
.logout{position: absolute;height: 20px;width: 20px;}